* {
  box-sizing: border-box;
}

.App {
  display:flex;
  justify-content:center;
  background: url("https://image.winudf.com/v2/image/Y29tLkx3cE1hc3Rlci5Ta3kxNl9zY3JlZW5fMF90ZmFrYnFqbw/screen-0.jpg?fakeurl=1&type=.jpg") no-repeat;
  background-size: cover;
}

.chara-img {
  width: 300px;
  height: 400px;
}

.inactif {
  display: none;
}

.profile-card {
  margin:100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1200px ;
  width: 30% ;
  border: 10px #f34d4d solid;
  color: black;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius:20px;
}

.profile-card h3 {
  font-size:40px;
}

.profile-card li {
  list-style :none;

}


.profile-card a {
  color:black;
}

.cruiser-title {
  color:white;
  margin : 100px auto;
}

.container-global {
  background: url("https://image.winudf.com/v2/image/Y29tLkx3cE1hc3Rlci5Ta3kxNl9zY3JlZW5fMF90ZmFrYnFqbw/screen-0.jpg?fakeurl=1&type=.jpg") no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  background-size: cover;
  padding-bottom:100px;
}

.chara-container {
  display: flex;
  width: 70%;
  gap: 70px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.chara-img-container {
  display: flex;
  flex-wrap: wrap;
  gap:50px;
}

.chara-name {
  margin-bottom: 40px;
  color: white;
  font-size:20px;
  font-weight:bold;
}

.coeur {
  text-align: center;
  padding: 12px 24px;
  color: #fff;
  border-radius: 5px;
  background: #f34d4d;
  box-shadow: 0 0 0 0 rgba(255, 71, 84, 0.7);
  animation: battement 2s infinite cubic-bezier(0.66, 0, 0, 1);
  text-decoration: none;
}

@keyframes battement {
  to {
    box-shadow: 0 0 0 30px rgba(255, 71, 84, 0);
  }
}
